<div class="bikeparking-details">
  <div class="item item-image">
    <img src="{{ bikeParkingImageFor(currentItem) }}" data-ng-src="{{ bikeParkingImageFor(currentItem) }}">
  </div>
  <div class="item-actions">
    <p class="promos" ng-bind-html="sanitizeItemSource(currentItem)"></p>
    <p class="distance">
      <image src="img/compass-icon.png"></image> A <b>{{ currentItem.distance }}</b>
    </p>
  </div>
  <p class="description" ng-bind-html="sanitizeText(currentItem.details)"></p>
</div>