<ion-view view-title="Tiendas y talleres">
  <ion-nav-title>
    <p class="title"><image src="img/logo-icon.png" height="35"></p>
  </ion-nav-title>
  <ion-header-bar class="bar bar-subheader bar-dark">
    <h1 class="title">Tiendas y talleres</h1>
  </ion-header-bar>
  <ion-content scroll-watch class="has-subheader" overflow-scroll="true">
    <ion-refresher
        pulling-text="Jala para actualizar..."
        on-refresh="fetchMoreBikeshopVenues()" ng-show="bikehopItems().length > 0 || fetching">
    </ion-refresher>
    <div ng-show="bikehopItems().length > 0 || fetching">
      <div class="loading-indicator" ng-show="fetching">
        <ion-spinner icon="ios"></ion-spinner>
        <p>Cargando ...</p>
      </div>
      <ion-list ng-hide="fetching">
        <ion-item ng-repeat="item in bikehopItems()" class="item-text-wrap" ng-click="showBikeShopDetailsFor(item)">
          <div ng-include src="'templates/item-on-list.html'"></div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="bikehopItems().length == 0 && !fetching" class="empty-items-view" ng-click="fetchMoreBikeshops()">
      <h2>No encontramos tiendas/talleres de bicicletas cerca de tu ubicación actual :(</h2>
      <img src="img/bikefriendly-place-icon-selected.png">
      <h3>Haz tap aquí para intentar de nuevo</h3>
    </div>
  </ion-content>
</ion-view>
