<ion-view view-title="Lugares bici-amigables">
  <ion-nav-title>
    <p class="title"><image src="img/logo-icon.png" height="35"></p>
  </ion-nav-title>
  <ion-header-bar class="bar bar-subheader bar-dark">
    <h1 class="title">Lugares bici-amigables</h1>
  </ion-header-bar>
  <ion-content scroll-watch class="has-subheader" overflow-scroll="true">
    <ion-refresher
        ng-show="bikefriendlyItems().length > 0 || fetching"
        pulling-text="Jala para actualizar..."
        on-refresh="fetchMoreBikefriendlyVenues()">
    </ion-refresher>
    <div ng-show="bikefriendlyItems().length > 0 || fetching">
      <div class="loading-indicator" ng-show="fetching">
        <ion-spinner icon="ios"></ion-spinner>
        <p>Cargando ...</p>
      </div>
      <ion-list ng-hide="fetching">
        <ion-item ng-repeat="item in bikefriendlyItems()" class="item-text-wrap" ng-click="showBikefriendlyDetailsFor(item)">
          <div ng-include src="'templates/item-on-list.html'"></div>
        </ion-item>
      </ion-list>
    </div>
    <div ng-show="bikefriendlyItems().length == 0 && !fetching" class="empty-items-view" ng-click="fetchMoreBikefriendlyVenues()">
      <h2>No encontramos lugares bici-amigables cerca de tu ubicación actual :(</h2>
      <img src="img/bikefriendly-place-icon-selected.png">
      <h3>Haz tap aquí para intentar de nuevo</h3>
    </div>
  </ion-content>
</ion-view>
