<ion-view view-title="Tienda o taller">
  <ion-nav-title>
    <p class="title">Tienda o taller</p>
  </ion-nav-title>
  <ion-content class="padding bikefriendly-details">
    <div class="card list">
      <div class="item item-avatar">
        <img src="{{ iconForSelectedItem() }}" ng-data-src="{{ iconForSelectedItem() }}">
        <h2><b>{{ selectedItem().title }}</b></h2>
        <p>A {{ selectedItem().distance }} de tu ubicación actual</p>
      </div>
      <div class="item item-text-wrap slogan">
        <p >{{ selectedItem().subtitle }}</p>
      </div>
      <div class="item item-image">
        <img src="{{ selectedItem().front_image }}" data-ng-src="{{ selectedItem().front_image }}">
      </div>
      <div class="item keywords item-text-wrap">
        <span class="keyword" ng-repeat="keyword in selectedItem().keywords">
          {{ keyword }}    
        </span>
      </div>
    </div>
    <div class="card" ng-click="openMap(selectedItem().coordinates)">
      <div class="map-container" >
        <div id="map" data-tap-disabled="true"></div>
      </div>
    </div>
    <div class="card">
      <p class="emph">Descripción</p>
      <p class="description" ng-bind-html="sanitizeText(selectedItem().details)"></p>
    </div>

    <div class="card">
      <p class="emph">Este sitio es bici-amigable por que:</p>
      <div class="list">
        <div class="item item-avatar" ng-if="selectedItem().services.parking">
          <img src="img/bikeparking-icon-selected.png">
          <h3>Cuenta con bici-estacionamiento</h3>
          <p>Estaciona tu bici</p>
        </div>
        <div class="item item-avatar" ng-if="selectedItem().services.tools">
          <img src="img/toolbox-icon.png">
          <h3>Tiene caja de herramientas</h3>
          <p>Arregla tu bici</p>
        </div>
        <div class="item item-avatar" ng-if="selectedItem().services.hydratation">
          <img src="img/apple-icon.png">
          <h3>Vaso de agua y/o fruta gratuitos</h3>
          <p>Ven en bici</p>
        </div>
        <div class="item item-avatar" ng-if="selectedItem().services.toilet">
          <img src="img/bathroom-icon.png">
          <h3>Uso del baño sin consumir</h3>
          <p>Ven en bici</p>
        </div>
        <div class="item item-avatar" ng-if="selectedItem().services.delivery">
          <img src="img/delivery-icon.png">
          <h3>Compra algún producto aquí</h3>
          <p>Te lo enviamos en bici</p>
        </div>
        <div class="item item-avatar" ng-if="selectedItem().services.discounts">
          <img src="img/discounts-icon.png">
          <h3>Descuentos en sus productos/servicios</h3>
          <p>Para quienes llegan en bici</p>
        </div>
      </div>
    </div>

    <div class="card general-info">
      <p class="emph">Dirección y horarios</p>
      <p class="address">{{ selectedItem().address }}</p>
      <p class="opening-hours">{{ selectedItem().hours }}</p>
    </div>

    <div class="card">
      <p class="emph">Contacto</p>
      <div class="list">
        <a class="item item-avatar" href="tel:{{ selectedItem().contact.phone }}" ng-if="selectedItem().contact.phone">
          <img src="img/phone-icon.png">
          <h2>{{ selectedItem().contact.phone }}</h2>
          <p>Llamar a este número de teléfono</p>
        </a>
        <a class="item item-avatar" href="tel:{{ selectedItem().contact.cellphone }}" ng-if="selectedItem().contact.cellphone">
          <img src="img/cellphone-icon.png">
          <h2>{{ selectedItem().contact.cellphone }}</h2>
          <p>Llamar a este número de celular</p>
        </a>
        <a class="item item-avatar" ng-click="openTwitterAccount(selectedItem().contact.twitter.name)" ng-if="selectedItem().contact.twitter.name">
          <img src="img/twitter-icon.png">
          <h2>@{{ selectedItem().contact.twitter.name }}</h2>
          <p>Abrir en Twitter</p>
        </a>
        <a class="item item-avatar" ng-click="openFacebookAccountURL(selectedItem().contact.facebook.url)" ng-if="selectedItem().contact.facebook.url">
          <img src="img/facebook-icon.png">
          <h2>{{ selectedItem().contact.facebook.name }}</h2>
          <p>Abrir en Facebook</p>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>