<ion-view view-title="Estacionamientos">
  <ion-nav-title>
    <p class="title"><image src="img/logo-icon.png" height="35"></p>
  </ion-nav-title>
  <ion-header-bar class="bar bar-subheader bar-dark">
    <h1 class="title">Estacionamientos</h1>
  </ion-header-bar>
  <ion-content scroll-watch class="has-subheader" overflow-scroll="true">
    <ion-refresher
        ng-show="items.length > 0 || fetching"
        pulling-text="Jala para actualizar..."
        on-refresh="fetchMoreBikeparkings()">
    </ion-refresher>
    <div ng-show="items.length > 0 || fetching">
      <div class="loading-indicator" ng-show="fetching">
        <ion-spinner icon="ios"></ion-spinner>
        <p>Cargando ...</p>
      </div>
      <div class="list bikeparkings" ng-hide="fetching">
        <div class="square bg bikeparking" ng-repeat="item in items" style="background-image: url('{{ bikeParkingImageFor(item) }}')" ng-click="showBikeparkingDetailsFor(item)">
          <div class="content">
              <div class="table">
                  <div class="table-cell overlay">
                      <p class="title">{{ bikeParkingTitleFor(item) }}</p>
                    
                      <div class="item-actions">
                        <image src="img/compass-icon.png"></image> A <b>{{ item.distance }}</b>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="items.length == 0 && !fetching" class="empty-items-view" ng-click="fetchMoreBikeparkings()">
      <h2>No encontramos bici-estacionamientos cerca de tu ubicación actual :(</h2>
      <img src="img/bikeparking-icon-selected.png">
      <h3>Haz tap aquí para intentar de nuevo</h3>
    </div>
  </ion-content>
</ion-view>