<div class="item-card" style="background: url('{{ item.front_image }}') no-repeat center; height: 300px;">          
  <span class="pin"><image ng-src="img/bikefriendly-pin-{{ item.rank }}.png"></span><br/>
  <div class="main-content">
    <p class="title">{{ item.title }}</p>
  </div>
  <div class="keywords">
    <div class="keyword" ng-repeat="keyword in item.keywords">
      <p>{{ keyword }}</p>
    </div>
  </div>
</div>
<div class="item-actions">
  <p class="promos">
    No tiene promociones
  </p>
  <p class="distance">
    <image src="img/compass-icon.png"></image> A <b>{{ item.distance }}</b>
  </p>
</div>