<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-balanced">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-clear">
        Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  
  <ion-side-menu side="left" width="170">
    <ion-content
      edge-drag-threshold="false"
      drag-content="true"
      class="dark-background">
      
      <ul class="dark list">
        <li class="item item-current" ui-sref="app.bikefriendlies" menu-close
          ng-show="bikefriendlyVenuesShouldAppear()">
          <img src="img/bikefriendly-place-icon-selected.png" width="70" height="70">
          <p>Lugares <br><span class="italic">bikefriendly</span></p>
        </li>
        <li class="item" ui-sref="app.bikefriendlies" menu-close
          ng-hide="bikefriendlyVenuesShouldAppear()">
          <img src="img/bikefriendly-place-icon-normal.png" width="70" height="70">
          <p>Lugares <br><span class="italic">bikefriendly</span></p>
        </li>
        <li class="item item-current" ui-sref="app.bikeshops" menu-close
          ng-show="bikeshopsShouldAppear()">
          <img src="img/bikeshop-icon-selected.png" width="70" height="70">
          <p>Talleres y tiendas</p>
        </li>
        <li class="item" ui-sref="app.bikeshops" menu-close
          ng-hide="bikeshopsShouldAppear()">
          <img src="img/bikeshop-icon-normal.png" width="70" height="70">
          <p>Talleres y tiendas</p>
        </li>
        <li class="item item-current" ui-sref="app.bikeparkings" menu-close
          ng-show="bikeparkingsShouldAppear()">
          <img src="img/bikeparking-icon-selected.png" width="70" height="70">
          <p>Estacionamientos</p>
        </li>
        <li class="item" ui-sref="app.bikeparkings" menu-close
          ng-hide="bikeparkingsShouldAppear()">
          <img src="img/bikeparking-icon-normal.png" width="70" height="70">
          <p>Estacionamientos</p>
        </li>
      </ul>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
