.title img {
  vertical-align: middle;
}

.item-card {
  font-family: "MuseoSans_500";
}

.item-card .title, .item-card .subtitle {
  color: white;
  padding: 4px 10px;
  display: inline-block;
  margin: 0px;
}

.item-card .main-content {
  position: absolute;
  top: 50px;
  left: 30px;
  width: 92%;
}

.item-card .main-content .line-break {
  height: 1px;
}

.item-card .main-content .title {
  color: white;
  padding: 5px;
  font-size: 18px;
  background-color: rgba(1,1,1,0.8);
}

.item-card .main-content .subtitle {
  font-size: 13px;
  background-color: rgba(1,1,1,0.7);
}

.item-card .pin img {
  position: relative;
  top: 0px;
  right: 20px;
  float: right;
  width: 40px;
}

.item-card .keywords {
  position: absolute;
  bottom: 60px;
  left: 30px;
  height: 55px !important;
  overflow-y: hidden;
  width: 90%;
}

.item-card .keywords .keyword {
  background-color: rgba(1,1,1,0.7);
  padding: 3px;
  display: inline-block !important;
  margin: 2px;
  font-size: 13px;
}

.item-card .keywords .keyword p {
  color: white;
}

.item-actions {
  font-family: "MuseoSans_500";
  color: #999;
  margin-top: 10px;
}

.item-actions p img {
  margin-right: 5px;
}

.item-actions p {
  display: inline-block !important;
  width: 45%;
}

.item-actions .distance {
  text-align: right;
  width: 53%;
}

.item-actions img {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 7px;
}

.item {
  padding-bottom: 3px;
}

.bar-subheader .title {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "MuseoSans_500";
}

.bar-subheader-slide-away .bar-subheader {
  display: none !important;
}

.bar-subheader-slide-away .has-subheader {
  margin-top: -44px;
}

.bikefriendly-details .card-list {
  margin-top: 0px !important;
}

.bikefriendly-details .slogan {
  background-color: #292929;
}

.bikefriendly-details .slogan p {
  color: white;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px !important;
}

.bikefriendly-details .img {
  width: 100% !important;
  height: 220px !important;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.bikefriendly-details .img-overlay-content-top {
  position: absolute;
  top: 90px;
  left: 10px;
  font-family: "MuseoSans_500";
}

.bikefriendly-details .img-overlay-content-top .title {
  font-size: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bikefriendly-details .img-overlay-content-top .details {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.bikefriendly-details .img-overlay-content-top .title, .bikefriendly-details .img-overlay-content-top .details {
  background-color: rgba(1,1,1, 0.8);
  padding: 10px;
  color: white;
}

.bikefriendly-details .img-overlay-content-bottom {
  position: absolute;
  top: 180px;
  left: 0px;
  font-family: "MuseoSans_500";
  background-color: rgba(1,1,1,0.4);
  text-align: left;
}

.bikefriendly-details .keywords {
  margin-bottom: 10px !important;
}

.bikefriendly-details .keywords .keyword {
  display: inline-block;
  margin: 2px;
  padding: 4px 8px;
  background-color: #F0F0F0;
  border-radius: 5px;
  font-size: 13px;
}

.bikefriendly-details {
  font-family: "MuseoSans_500";
}

.bikefriendly-details .content {
  color: #A0A0A0;
  font-size: 13px;
  padding: 0px;
  margin: 10px 5px 10px 5px;
  width: 100%;
}

.bikefriendly-details .content p {
  padding: 0px;
  margin: 0px;
}

#map {
  pointer-events: none;
}

.bikefriendly-details .card .map-container, .bikefriendly-details .card #map {
  width: 100%;
  height: 150px;
}

.bikefriendly-details .card {
  color: #808183;
}

.bikefriendly-details .card .emph {
  background-color: #39b54a;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  padding-left: 10px;
}

.bikefriendly-details .card .description {
  margin: 10px;
}

.bikefriendly-details .general-info .address {
  margin: 10px;
  font-size: 13px;
  text-align: center;
  color: #3b3c3d;
}

.bikefriendly-details .general-info .opening-hours {
  text-align: center;
}

.bikefriendly-details .general-info ul, .bikefriendly-details .general-info ul li {
  margin: 0;
  padding: 0;
}

.bikefriendly-details .general-info ul li {
  display: inline-block !important;
  text-align: center;
}
