.square {
    float:left;
    position: relative;
    width: 32%;
    padding-bottom: 32%; /* = width for a 1:1 aspect ratio */
    margin: 0.6%;
    background-color: #1E1E1E;
    overflow:hidden;
}

.content {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
    
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
}
/*  For list */
ul{
    text-align:left;
    margin:5% 0 0;
    padding:0;
    list-style-position:inside;
}
li{
    margin: 0 0 0 5%;
    padding:0;
}


/*  For responsive images */

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}

.bg {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
    color:#fff;
}

.bikeparkings .bikeparking .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(1,1,1,0.5);
  width: 112%;
  height: 112%;
}

.bikeparkings .bikeparking .title {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  font-family: "MuseoSans_500";
  font-size: 15px;
}

.bikeparkings .bikeparking .item-actions {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
  font-family: "MuseoSans_500";
  font-size: 13px;
  color: white;
  text-align: right;
}

.bikeparkings .bikeparking .item-actions img, .bikeparking-details .item-actions img {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
  margin-right: 0px;
}

.bikeparking-dialog .popup {
  width: 85%;
  background-color: white;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.75);
  font-family: "MuseoSans_500";
}

.bikeparking-dialog .popup .popup-head h3 {
  color: #3DBD2F;
  font-size: 18px;
  font-weight: 300;
}

.bikeparking-dialog .popup .popup-head h5 {
  color: #B6B6B6;
  font-size: 16px;
  font-weight: bold;
}

.bikeparking-dialog .popup-body {
  border-top: 0.5px solid #3DBD2F;
}

.bikeparking-dialog .popup .description {
  text-align: justify;
  color: #6b6b6b;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.bikeparking-dialog .popup .promos {
  font-size: 12px;
}
