@font-face {
    font-family: 'MuseoSans_500_Italic';
    src: url('../fonts/MuseoSans_500_Italic.eot');
    src: url('../fonts/MuseoSans_500_Italic.eot') format('embedded-opentype'),
         url('../fonts/MuseoSans_500_Italic.woff2') format('woff2'),
         url('../fonts/MuseoSans_500_Italic.woff') format('woff'),
         url('../fonts/MuseoSans_500_Italic.ttf') format('truetype'),
         url('../fonts/MuseoSans_500_Italic.svg#MuseoSans_500_Italic') format('svg');
}

@font-face {
    font-family: 'MuseoSans_500';
    src: url('../fonts/MuseoSans_500.eot');
    src: url('../fonts/MuseoSans_500.eot') format('embedded-opentype'),
         url('../fonts/MuseoSans_500.woff2') format('woff2'),
         url('../fonts/MuseoSans_500.woff') format('woff'),
         url('../fonts/MuseoSans_500.ttf') format('truetype'),
         url('../fonts/MuseoSans_500.svg#MuseoSans_500') format('svg');
}
