.loading-indicator {
  text-align: center;
  margin-top: 30%;
}

.loading-indicator p {
  font-weight: bold;
  font-family: "MuseoSans_500";
  color: #B8B8B8;
  margin-top: 20px;
  font-size: 25px;
}

.loading-indicator .spinner svg {
  width: 15%;
  height: 15%;
  stroke: #444;
  fill: #444;
}

.empty-items-view {
  margin-top: 30%;
  text-align: center;
  font-family: "MuseoSans_500";
}

.empty-items-view h3 {
  color: #ADADAD;
}

.empty-items-view h2 {
  color: #C8C8C8;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 30px;
}

.empty-items-view img {
  width: 15%;
  height: 15%;
}

img.avatar-pic {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
}