.dark-background {
  background-color: rgba(37,38,39, 1) !important;
}

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
}

.dark .item {
  background-color: #1b1b1c !important;
  border: none;
  padding: 20px;
  max-height: none;
  color: white;
  text-align: center;
  opacity: .7;
  font-family: "MuseoSans_500";
}

.dark .item p {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.dark .item-current {
  opacity: 1;
}

.dark .item-current p {
  color: #C8FFD1 !important;
}

.dark-head {
  text-decoration: none;
}